{% extends 'gui/base.html' %}

{% block banner %}
    <h1>Collections</h1>
{% endblock %}

{% block content %}

    {% include 'gui/collection_table.html' %}

    <div id="results" class="results-block" style="display:none;">
        <div id="pagination-controls" class="pagination-controls">
            <button id="prev-page" disabled>Previous</button>
            <span id="page-info"></span>
            <button id="next-page" disabled>Next</button>
        </div>
        <!-- results container populated by javascript call back -->
        <div id="results-container"></div>
    </div>

{% endblock %}