<div id="collection-table">
    <table class="description-table">
    <thead>
        <tr><th>Collection</th><th class="description-column">Description</th><th>Tags</th><th>Actions</th></tr>
    </thead><tbody>
        {% for collection in collections %}
            <tr><td>{{collection.name}}</td>
                <td class="description-column"> 
                    <div class="editable-container">
                    <div class="editable" data-id="{{collection.id}}">{{collection.description}}</div>
                    <button class="editButton">Edit</button> </td> </div>
                <td>
                    <form method="post" id="tagForm-{{collection.id}}" action='/api/update-tags/{{collection.id}}/'>
                        {% csrf_token %}
                        <select id="tags-{{collection.id}}" name="tags[]" multiple>
                            {% for tag in collection.tags.all %}
                                <option value="{{ tag.name }}" selected>{{ tag.name }}</option>
                            {% endfor %}
                            {% for tag in tags %}
                                {% if tag not in collection.tags.all %}
                                    <option value="{{ tag.name }}">{{ tag.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <button type="submit">Update Tags</button>
                    </form>
                </td>
                <td><button class="viewButton" id="view-{{collection.id}}">View</button>
                    <button class="manifestButton" onclick="window.location.href='{% url 'manifest' collection.id %}'">Get Manifest</button>
                    <button class="deleteButton" id="{{collection.id}}">Delete</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>