<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Selection</title>
    {% load static %} 
    <link href="{% static 'gui/css/styles.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.0.1/dist/css/tom-select.css" rel="stylesheet">
</head>
<body>
    <h1>CANARI Data Selection</h1>

    <div id="selection-boxes">
        <table>
            <tr><td><label for="dd-loc">Storage Location:</label></td>
                <td><label for="dd-col">In collection:</label></td>
                <td><label for="dd-ens">Ensemble Member</label></td>
                <td align="center">Filter by location and collection </td>
            </tr><tr>
                <td><select id="dd-loc" placeholder="Select an option..." class="dropdown"></select></td>
                <td><select id="dd-col" placeholder="Select an option..." class="dropdown"></select></td>
                <td><select id="dd-ens" placeholder="Select an option..." class="dropdown"></select></td>
                <td align="center"><button id="first-filter">Do Filter</button> </td>
            </tr>
        <table>
        <table>
                <tr>
                    <td><label for="dd-tave">Time Averaging:</label>
                    <button class="select-all" data-dropdown="dd-tave">Select All</button>
                    <button class="clear-selection" data-dropdown="dd-tave">Clear Selection</button>
                </td>
                <td> <label for="dd-sname">Standard Name:</label>
                    <button class="select-all" data-dropdown="dd-sname">Select All</button>
                    <button class="clear-selection" data-dropdown="dd-sname">Clear Selection</button></td>
                <td><label for="dd-lname">Long Name:</label>
                    <button class="select-all" data-dropdown="dd-lname">Select All</button>
                    <button class="clear-selection" data-dropdown="dd-lname">Clear Selection</button>
                </td>
            </tr><tr>
                <td><select id="dd-tave" placeholder="Select an option..." class="dropdown"></select></td>
                <td><select id="dd-sname" placeholder="Select an option..." class="dropdown"></select></td>
                <td><select id="dd-lname" placeholder="Select an option..." class="dropdown"></select></td>
            </tr>
        </table>
    </div>

    <button id="sendSelectionsBtn">Search</button>

    <div id="message-block"></div>
    <div id="results" class="results-block" style="display:none;">
        <h2> Selection </h2>
        <div class="fullwidth">
           
            <div id="results-header" class="leftblock">
                
                <div class="block-container">
                <h4> Summary </h4>
                <div id="summary-content"></div>
                </div>
            </div>
            <div id="action-area" class="rightblock">
                <div class="block-container">
                    <h4>Add to Collection</h4>
                    <form id="addCollectionForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputTextC">Collection Name:</label>
                            <input type="text" id="inputTextC" required>
                        </div>
                        <button type="submit">Add</button>
                    </form>
                </div>
                <div class="block-container">
                    <h4>Download Manifest</h4>
                    <form id="downloadManifestForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputTextM">Manifest FileName:</label>
                            <input type="text" id="inputTextM" required>
                        </div>
                        <button type="submit">Download</button>
                    </form>
                </div>
            </div>
        </div> 
        <div id="pagination-controls" class="pagination-controls">
            <button id="prev-page" disabled>Previous</button>
            <span id="page-info"></span>
            <button id="next-page" disabled>Next</button>
        </div>
        <div id="results-container"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.0.1/dist/js/tom-select.complete.min.js"></script>
    <script>
        // Function to fetch data from an API and populate dropdowns
        const tomSelectInstances = {}; // Object to store Tom Select instances
        // Used for message handling after form submission
        const responseDiv = document.getElementById("message-block");

        // variables for pagination
        let currentPage = 1;
        let totalResults = 0;
        let resultsPerPage = 0;  // Initialize but get it from the backend later

        async function populateDropdown(dropdownId, apiUrl) {
            try {
                const response = await fetch(apiUrl);
                const data = await response.json();

                // Assuming the response is a list or an array of options
                const options = data.results || data;  // Adjust based on API structure
                console.log('Options fetched from API:', options);
                
                if (!Array.isArray(options)) {
                    throw new Error('Expected an array, got something else');
                }

                // Initialize or update Tom Select with new options
                const selectElement = document.getElementById(dropdownId);
                if (!selectElement) {
                    console.error(`Dropdown with ID ${dropdownId} not found in the DOM.`);
                    return;
                }
                
                const selectedValues = Array.from(selectElement.selectedOptions).map(option => option.value); // Save current selections

                // Clear existing options
                selectElement.innerHTML = '';
               
                if (tomSelectInstances[dropdownId]) {
                    tomSelectInstance =  tomSelectInstances[dropdownId];
                    tomSelectInstance.destroy();  // Destroy the old instance if it exists
                    // We need to add the new options AFTER this step.
                }

                // Add new options from the API response
                options.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.id;
                    option.text = item.name;
                    selectElement.appendChild(option);
                    console.log(`Item ${item.name}`);
                });
                
                tomSelectInstances[dropdownId] = new TomSelect(selectElement, {
                    valueField: 'id',
                    labelField: 'name',
                    searchField: 'name',
                    plugins: ['remove_button'],
                    maxItems: null
                });

                tomSelectInstances[dropdownId].setValue(selectedValues);  // Restore previous selection 

            } catch (error) {
                console.error(`Failed to fetch data for ${dropdownId}:`, error);
            }
        }

        async function filterDropdowns() {
            // get the location and collection information
            const selectedLoc = tomSelectInstances['dd-loc'] ? tomSelectInstances['dd-loc'].getValue() : null;
            const selectedCol = tomSelectInstances['dd-col'] ? tomSelectInstances['dd-col'].getValue() : null;

            // Create the extra query parameters based on selections
            const extraParams = 
                (Array.isArray(selectedLoc) && selectedLoc.length ? `&location=${selectedLoc.join(',')}` : '') +
                (Array.isArray(selectedCol) && selectedCol.length ? `&collection=${selectedCol.join(',')}` : '');

            populateDropdown('dd-tave', `/api/vocab-select?vocab=frequency${extraParams}`);
            populateDropdown('dd-sname', `/api/vocab-select?vocab=standard_name${extraParams}`);
            populateDropdown('dd-lname', `/api/vocab-select?vocab=long_name${extraParams}`);

        }

        // Function to send selected values to the backend API and get results
        async function sendSelectedValues() {
            const selectedValues = getSelectedValues();  // Get the selected values
            try {
                // Fetch both summary and paginated data (depending on currentPage)
                const response = await fetch('/api/get-variables-from-selection/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken')
                    },
                    body: JSON.stringify({ selections: selectedValues, page: currentPage })
                });
        
                if (!response.ok) throw new Error('Network response was not ok');
                const data = await response.json();
        
                // Process paginated data
                totalResults = data.total;  // Get total results
                totalPages = data.total_pages;  // Get total pages from backend
                displayResults(data.html);  // Display the paginated results
                updatePagination(currentPage, totalPages);  // Update pagination controls
                // Only update the summary if it's present in the response (i.e., page 1)
                if (data.summary) {
                    document.getElementById('summary-content').innerHTML = data.summary;
                }
                
            } catch (error) {
                console.error('Error sending selected values:', error);
            }
        }

        // handle the forms
        async function handleFormSubmit(event, url, formData) {
            event.preventDefault(); // Prevent default form submission
            const selectedValues = getSelectedValues(); 
            formData['selections'] = selectedValues;
            console.log(JSON.stringify(formData, null, 2));
            try {
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),  // Ensure CSRF protection
                    },
                    body: JSON.stringify(formData)
                });
    
                const data = await response.json();  // Parse the JSON response
                responseDiv.innerHTML = `<p>${data.message}</p>`;
            } catch (error) {
                responseDiv.innerHTML = `<p>Error: ${error.message}</p>`;
            }
        }

        // Function to grab selected values from all dropdowns in order to generate a query
         function getSelectedValues() {
            const dropdownIds = ['dd-loc','dd-col','dd-tave','dd-sname','dd-lname','dd-ens']
            const selectedValues = {}; // Object to hold selected values for each dropdown
             // Loop through each dropdown ID
            dropdownIds.forEach(dropdownId => {
                const tomSelectInstance = tomSelectInstances[dropdownId]; // Get the Tom Select instance
                selectedValues[dropdownId] = tomSelectInstance.getValue(); // Store the selected values
            });
            return selectedValues;
        }

        // Function to select all options in a dropdown
        function selectAllOptions(dropdownId) {
            const tomSelectInstance = document.getElementById(dropdownId).tomselect;
            // Convert the options object into an array of option values
            const allOptionValues = Object.keys(tomSelectInstance.options).map(key => tomSelectInstance.options[key].id);
            tomSelectInstance.setValue(allOptionValues); // Set all values
             // Manually refresh the Tom Select instance to ensure the UI reflects the selections
            console.log(`Got ${allOptionValues}`)
            tomSelectInstance.refreshOptions(false); // Refresh without clearing selections
             // Log the selected values to confirm
            console.log(`Selected values for ${dropdownId} after Select All:`, tomSelectInstance.getValue());

        }

        // Add event listener for Do Filter button
        document.getElementById('first-filter').addEventListener('click', filterDropdowns);  

        // Add event listeners for Select All buttons
        document.querySelectorAll('.select-all').forEach(button => {
            button.addEventListener('click', (event) => {
                const dropdownId = event.target.getAttribute('data-dropdown');
                const tomSelectInstance = tomSelectInstances[dropdownId];

                if (tomSelectInstance) {
                    const allOptionValues = Object.keys(tomSelectInstance.options).map(key => tomSelectInstance.options[key].id);
                    tomSelectInstance.setValue(allOptionValues);
                    tomSelectInstance.refreshOptions(false);
                    console.log(`Selected all options for ${dropdownId}`);
                }
            });
        });
        
        // Add event listeners for "Clear Selection" buttons
        document.querySelectorAll('.clear-selection').forEach(button => {
            button.addEventListener('click', function () {
                const dropdownId = button.getAttribute('data-dropdown');
                const tomSelectInstance = tomSelectInstances[dropdownId]; // Use the stored instance

                if (tomSelectInstance) {
                    tomSelectInstance.clear(); // Clear selections
                    tomSelectInstance.refreshOptions(false); // Refresh options without clearing selections
                    console.log(`Cleared selections for ${dropdownId}`);
                } else {
                    console.error(`TomSelect instance for ${dropdownId} not found.`);
                }
            });
        });

        // Function to load all dropdowns
        function loadDropdowns() {
            populateDropdown('dd-tave', '/api/vocab-select?vocab=frequency');
            populateDropdown('dd-sname', '/api/vocab-select?vocab=standard_name');
            populateDropdown('dd-lname', '/api/vocab-select?vocab=long_name');
            populateDropdown('dd-loc', '/api/entity-select?entity=location');
            populateDropdown('dd-col', '/api/entity-select?entity=collection');
            populateDropdown('dd-ens', '/api/vocab-select?vocab=variant_label');
        }

        // Refresh button to repopulate dropdowns
        //document.getElementById('refreshBtn').addEventListener('click', loadDropdowns);

        // Call loadDropdowns on page initialization
        document.addEventListener('DOMContentLoaded', loadDropdowns);

        // Add event listener for sending selected values
        document.getElementById('sendSelectionsBtn').addEventListener('click', sendSelectedValues);

        // Add event listeners for the forms
        const addCollectionForm = document.getElementById("addCollectionForm");
        addCollectionForm.addEventListener("submit", async function(event) {
                const collectionName = document.getElementById("inputTextC").value;
                await handleFormSubmit(event, '/api/add-to-collection/', {collection_name: collectionName});
                // We might have changed the collection list
                console.log('MADE IT')
                await populateDropdown('dd-col', '/api/entity-select?entity=collection');
            });
        const downloadManifestForm = document.getElementById("downloadManifestForm");
        downloadManifestForm.addEventListener("submit", function(event) {
            const manifestFilename = document.getElementById("inputTextM").value;
            handleFormSubmit(event, '/api/download-manifest/', { manifest_filename: manifestFilename });
        });

        // Function to display results in the container
        function displayResults(html) {
            const container = document.getElementById('results');
            container.style.display="block";
            const innerContainer = document.getElementById('results-container')
            innerContainer.innerHTML = html; 
        }

        // Function to update pagination controls
        function updatePagination(currentPage, totalPages) {
            document.getElementById('prev-page').disabled = currentPage === 1;
            document.getElementById('next-page').disabled = currentPage === totalPages;
            document.getElementById('page-info').textContent = `Page ${currentPage} of ${totalPages}`;
        }

        // Event listeners for pagination buttons
        document.getElementById('prev-page').addEventListener('click', function() {   
            currentPage--;         
            document.getElementById('sendSelectionsBtn').click(); // Trigger result fetch for new page
            })

        document.getElementById('next-page').addEventListener('click', function() {
            currentPage++;
            document.getElementById('sendSelectionsBtn').click(); // Trigger result fetch for new page
        })


        // Function to get CSRF token (if using Django)
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


    </script>
</body>
</html>